.frontpage {

  .front-header-wrapper {
    margin-top: 4em;
    margin-bottom: 2em;
    margin-right: 6em;
    margin-left: 4em;
  }

  .front-name {
    text-transform: uppercase;
    font-family: "Avenir Next", "Helvetica Neue", sans-serif;
    font-weight: 700;

    .first {
      color: #ccc;
    }

    .second {
      color: #7fb2ef;
    }
  }

  .front-header,
  .front-motto {
    color: white;
    margin-bottom: 0.5em;
    font-weight: 400;
  }

  .front-header {
    margin-top: 1em;
    margin-bottom: 1em;

    color: darken($action-color, 10%);

    font-size: 175%;
  }

  .front-motto {
    margin-top: 0;

    margin-bottom: 0;

    font-size: 1em;
    color: darken(white, 20%);
  }

  .front__heading {
    background: #323232;
    background-image: url("../assets/img/headers/front.jpg");
    background-size: cover;

    width: 100%;
    min-height: 15em;
    height: 20%;
  }

  @include media-query(portable) {
    .front__heading {
      min-height: 15em;
    }
  }

  .react-image {
    margin-left: 1em;
    margin-right: 1em;
    width: 100px;
    height: 100px;
    float: right;
  }


  .post--front {
    max-width: 100%;
    width: auto;
    overflow: auto;
    margin: 0 auto;
    width: 100%;
  }
  .front-heading-content-wrapper {
    margin: 0 auto;
    max-width: 1000px;
  }
  .front-header-wrapper {
    float: left;
  }

  @include media-query(portable) {
    .front-header-wrapper {
      max-width: 100%;
      margin-right: 0.5em;
      margin-left: 0.5em;
    }

    .post--front {
      padding: 1em;
    }
  }

  @include media-query(palm) {
    .front-header-wrapper {
      max-width: 100%;
      margin: 0;
      padding: 1em;
    }
  }

  .organizer {
    clear: both;
    min-height: 100px;
    margin-bottom: 1em;
  }

  .author-photo {
    clear: both;
    float: right;
    margin-left: 0.5em;
    border-radius: 50px;
    width: 100px;
    height: 100px;
  }

}
