.btn {
  font-family: $small-font;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: $fat;
  -webkit-appearance: none;
  -webkit-appearance: normal;
  outline: none;
  background-color: transparent;
  padding: 0 $base-spacing-unit;
  border-radius: 100px;
  font-size: $h4-size;
  line-height: $base-spacing-unit * 2 - 2 * $border-width;
  transition: background-color $transition-easing $transition-speed,
    color $transition-easing $transition-speed;
}
