div,
section,
article,
main,
nav {
  justify-content: center;
  align-content: center;
}
main {
  width: 100%;
}
.post__content {
  margin: 0 auto;
  max-width: 1400px;
}
.post__block {
  vertical-align: top;
  display: inline-block;
  max-width: 600px;
  margin: 2em;
}
.post__block__full {
  max-width: none;
  width: 100%;
}

hr {
  clear: both;
}

@media (max-width: 1358px) {
  // each parallel block is ~700 px + jämät
  .post__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}