div,
section,
article,
main,
nav {
  justify-content: center;
  align-content: center;
}
main {
  width: 100%;
}
.main-content {
  align-items: center;
}
.post__content {
  margin: 0 auto;
  max-width: 1400px;
}
.post__block {
  vertical-align: top;
  display: inline-block;
  max-width: 600px;
  margin: 2em;
}
.post__block__full {
  max-width: none;
  width: 100%;
}