/**/

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
	display: none;
}
input[type="date"],
.input {
	text-align: center;
	-webkit-appearance: none;
	height: $base-spacing-unit * 2;
	border: none;
}


