@import "functions";
@import "vars";
@import "styles";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.header-anchor {
  display: block;
  position: relative;
  top: -10vh;
}

pre {
  padding: 0.5em;
  padding-left: 1em;
}
pre code {
  line-height: 1.5;
  font-size: 0.8rem;
}

q {
  color: #7fb2ef;
}

.post {
  margin: 0 auto;
}


/* make sure post content isn't centered (probably should remove that default) */
.post__content {
  justify-content: initial;

  /* fix images that might not fix - compromise (text won't flow around float) */
  overflow: hidden;
}

.post__content img {
  position: inherit;
  max-width: 100%;
  width: 100vw;
}

.header-anchor-select {
  display: none;
  margin-left: 0.25em;
}

.header:active .header-anchor-select,
.header:hover .header-anchor-select {
  display: inline;
}

table {
  margin-bottom: 1em;

  th {
    text-align: left;

    border-bottom: 0.01em solid #050505;
  }

  th,
  td {
    padding: 0.25em;
  }

  th,
  td {
    border-right: 0.01em solid #050505;
  }
  th:last-child,
  td:last-child {
    border-right: none;
  }
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

h2 {
  margin-top: 2em;
}
h3.header {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
strong {
  margin-bottom: 0.25em;
}
hr {
  margin-top: 2em;
  margin-bottom: 2em;
}
