.footer {
  font-size: small;
  color: rgba(255, 255, 255, 0.5) !important;
  background-color: $color-accent;

  &--wrapper {
    @extend .container;
    @extend .grid;
    @extend .grid_6col;
    padding-top: 1em !important;
    padding-bottom: 1em !important;

    @media (max-width: $mobile-breakpoint) {
      display: block !important;
    }
  }

  &--toolbox {
    grid-column-start: 4;
  }
  &--coc {
    grid-column-start: 5;
  }
  &--copyright {
    grid-column-start: 6;
  }
}
