.nav {
  grid-column: 2 / span 5;

  ul {
    margin: 0 $pu * -1;
    padding: 0;
    list-style: none;
  }
}

footer {
  .nav {
    grid-column: 1 / span 5;

    &--link {
    }
  }
}

.nav--break {
  margin-right: $pu2 * 4;
}

.nav--row {
  display: inline;
}
.nav--social {
  float: right;
}
.nav--secondary {
  display: inherit;
}

.nav--link {
  display: inline-block;
  font-size: smaller;
  text-transform: uppercase;

  a {
    display: inline-block;
    padding: 3px 7px;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    border: 2px solid transparent;
    transition: all 0.25s ease-in-out;
    &:hover {
      color: rgba(255, 255, 255, 0.95);
      border-bottom-color: rgba(255, 255, 255, 0.35);
    }
  }

  &_selected {
    a:link,
    a:hover,
    a:visited,
    a:active {
      color: rgba(255, 255, 255, 1);
      border-color: rgba(255, 255, 255, 1);
      cursor: default;
    }
  }
}
