.tito-wrapper {
  background: none;
  border: none;
  padding: none;
  margin: none;
  font-family: inherit;
}

.tito-ticket-name-wrapper {
  width: 60%;
}
.tito-ticket-price-quantity-wrapper {
  width: 40%;
}
