.site-name {
  text-decoration: none;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 0 20px;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
