$pu: 0.3rem;
$pu2: $pu * 2;
$fh: "Finlandica", sans-serif;
$color-accent: #002fa9;
$rf-white: white;
$rf-light-blue: rgba(40, 40, 150, 0.25);
$rf-blue: #7fb2ef;
$rf-deep-blue: #5297e9;
$very-blue: #1863bd;
$tablet-breakpoint: 1024px;
$mobile-breakpoint: 776px;
$header-background-size: $pu * 110;
